 <%- include( "admin/header" ) -%> 
<div>
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Author</th>
        <th scope="col">Name</th>
        <th scope="col">Validity</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% bookdata.forEach(element => {%>
    <tr>
      <td><%=element.bookname%></td>
      <td><%=element.author%></td>
      <td><%=element.user_name%></td>
      <td><%=element.valid_till %> </td>
      <td><a class = "btn btn-primary" href="/admin/return?id=<%=element.book_id%>&bookname=<%=element.bookname%>&author=<%=element.author%>&stocks=<%=element.stocks %>&userid=<%=element.user_id %>  " >
           Return</a></td>
   </tr>
    <% }); %>
   
  </tbody>
</table>
  

</div>
<%- include( "admin/footer" ) -%> 