 <%- include( "partials/header" ) -%> 
<div>
    <h3>Welcome   <%=username %>  to library managment system</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">BookId</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">PublishDate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% bookdata.forEach(element => {%>
    <tr>
      <th scope="row"><%=element.bookid%></th>
      <td><%=element.bookname%></td>
      <td><%=element.author%></td>
      <td><%=element.publishdate%></td>
      <td><a class = "btn btn-primary" href="/login/home/addbook?id=<%=element.bookid%>&name=<%=element.bookname%>&author=<%=element.author%>&pub_date=<%=element.publishdate%>" >
           Add Book</a></td>
    </tr>
    <% }); %>
   
  </tbody>
</table>
  

</div>
<%- include( "partials/footer" ) -%> 