 <%- include( "partials/header" ) -%> 

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Validity</th>
    </tr>
  </thead>
  <tbody>
     <% books.forEach(book =>{%>
    <tr>
      <th scope="row"><%=book.id%></th>
      <td><%=book.book_name%></td>
      <td><%=book.author%></td>
      <td><%=book.valid_till%></td>
    </tr>
     <%}) %> 
   
  </tbody>
</table>
 
<%- include( "partials/footer" ) -%> 