 <%- include( "partials/header" ) -%> 

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">IssueDate</th>
    </tr>
  </thead>
  <tbody>
     <% requests.forEach(request =>{%>
    <tr>
      <th scope="row"><%=request.id%></th>
      <td><%=request.book_name%></td>
      <td><%=request.author%></td>
      <td><%=request.issue_date%></td>
    </tr>
     <%}) %> 
   
  </tbody>
</table>
 
<%- include( "partials/footer" ) -%> 